<header>
    <section class="container">
        <article class="row">
            <div class="col-md-12">
                <h2 class="header-title">Statistics</h2>
            </div>
        </article>
    </section>
</header>

<section class="container mt-4">
    <article class="row">
        <div class="col-12">
            <h5>Graph 1</h5>
        </div>
    </article>
    <hr>
    <article class="row">
        <div class="col-12">
            <h5>Graph 2</h5>
        </div>
    </article>
</section>
