.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color);
    z-index: 30;
    overflow-y: auto;
    overflow-x: hidden;
}

header .overlay-header {
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--sidebar-color);
    display: flex;
    align-items: center;
}

header .overlay-header button {
    border: none;
    border-radius: 50%;
    background: var(--sidebar-color);
    color: var(--text-color);
    transition: var(--tran-04);
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
}

header .overlay-header button:hover {
    background-color: var(--primary-color-light);
}

header .overlay-header h3 {
    margin-bottom: 0;
    margin-left: 0.5rem;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section .overlay-content {
    padding: 1rem 1.8rem;
}
