<div class="collection-container" [ngStyle]="{'background-image': getCollectionImage()}" [routerLink]="['/books']" [queryParams]="collectionSearchQuery">
    <input 
        type="color" 
        class="collection-color" 
        (click)="$event.stopPropagation()"
        [value]="getCollectionColor()" 
        (blur)="onUpdateColor($event)"
    >
    <div>
        <h3 *ngIf="!editMode" class="collection-name">{{ collection.name }}</h3>
        <input 
            *ngIf="editMode" 
            type="text" 
            class="collection-input rounded" 
            [value]="collection.name" 
            (click)="$event.stopPropagation()"
            (blur)="onUpdateName($event)" 
            (keyup.enter)="onUpdateName($event)"
        >
        <p class="collection-book-count">Books: {{ collection.amount }}</p>
    </div>
    <div class="dropdown" (click)="$event.stopPropagation()">
        <i class='bx bxs-caret-down-circle fs-3' [appDropdown]="dropdown2"></i>
        <ul class="dropdown-menu" #dropdown2>
            <li>
                <a class="dropdown-item" (click)="editMode = !editMode" [appDropdown]="dropdown2">
                    {{ editMode ? 'Cancel' : 'Change name' }}
                </a>
            </li> 
            <li><hr class="dropdown-divider"></li> 
            <li><a class="dropdown-item" (click)="showConfirmDelete = true" [appDropdown]="dropdown2">Delete collection</a></li> 
        </ul>
    </div>
</div>

<app-confirm 
    [title]="'Delete collection'" 
    [message]="confirmDeleteMessage" 
    [confirmText]="'Delete'"
    *ngIf="showConfirmDelete"
    (cancel)="showConfirmDelete = false"
    (confirm)="onDeleteCollection()">
</app-confirm>
