<section class="form-backdrop">
    <div class="form-container">
        <div class="form-content">
            <header class="fs-3">Login</header>
            <form>
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password">
                    <i class="bx bx-hide eye-icon"></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="#" class="signup-link">Sign up</a></span>
            </div>
        </div>

        <aside class="custom-hr"></aside>

        <div class="login-options">
            <a href="#" class="field github">
                <i class="bx bxl-github login-icon"></i>
                <span>Continue with Github</span>
            </a>
            <a href="#" class="field google">
                <i class="bx bxl-google login-icon"></i>
                <span>Continue with Google</span>
            </a>
        </div>
    </div>
</section>
