/* ===== Auth container ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-backdrop {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.form-container {
    max-width: 26rem;
    width: 100%;
    padding: 1.8rem;
    margin: 0 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    transition: var(--tran-05);
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.25rem 0.8rem;
}

header {
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
    transition: var(--tran-02);
}

.custom-hr {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
    background-color: grey;
}

.custom-hr::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0 1rem;
    transition: var(--tran-05);
}

.form-container .field {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-top: 1.25rem;
    border-radius: 0.4rem;
}

/* ===== Form ===== */
form {
    margin-top: 1.5rem;
}

.field input,
.field button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.4rem;
}

.field input {
    padding: 0 1rem;
    border: 1px solid var(--hr-color);
    background-color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    outline: none;
    transition: var(--tran-05);
}

.input-field.invalid {
    border: 1px solid var(--invalid-border-color);
    box-shadow: var(--invalid-box-shadow-focus);
}

.field input:focus {
    border-bottom-width: 0.15rem;
}

.field button {
    color: white;
    background-color: var(--secondary-button);
    transition: var(--tran-button);
    font-weight: 600;
}

.field button:hover {
    background-color: var(--secondary-button-hover);
}

.form-link {
    text-align: center;
    margin-top: 0.6rem;
}

.form-link a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 0.9rem;
    transition: var(--tran-02);
    cursor: pointer;
}

.form-link a:hover {
    text-decoration: underline;
}

.form-link span,
.form-link span a {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 400rem;
    transition: var(--tran-02);
}

.form-link span a {
    color: var(--secondary-color);
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
    padding: 0.5rem;
    transition: var(--tran-02);
}

.eye-icon:hover {
    color: var(--text-color);
}

/* ===== Login options ===== */
.login-options a {
    display: flex;
    background-color: var(--secondary-button);
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: var(--tran-button);
}

.login-options a:hover {
    background-color: var(--secondary-button-hover);
}

.login-icon,
.image-icon {
    position: absolute;
    top: 50%;
}

.login-icon {
    font-size: 1.55rem;
    transform: translateY(-45%);
    left: 0.9rem;
}

.image-icon {
    height: 1.4rem;
    width: 1.4rem;
    object-fit: cover;
    transform: translateY(-47%);
    left: 1rem;
}
