<form class="row g-3" autocomplete="off" onsubmit="event.preventDefault();">
    <fieldset class="col-lg-8 col-md-6">
        <div class="search-bar rounded">
            <i class='bx bx-search fs-5 search-icon pt-1 ps-2 pe-1'></i>
            <input type="search" class="rounded" placeholder="Search tags">
        </div>
    </fieldset>

    <fieldset class="col-lg-2 col-md-3">
        <select class="form-select search-select">
            <option selected value="0">Alphabetical</option>
            <option value="1">Usage Amount</option>
        </select>
    </fieldset>

    <fieldset class="col-lg-2 col-md-3">
        <select class="form-select search-select">
            <option value="0">Descending</option>
            <option selected value="1">Ascending</option>
        </select>
    </fieldset>
</form>
