/* ===== Image ===== */
.image-container img {
    width: 100%;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
}

/* ===== Buttons ===== */
.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container #save-button,
.button-container #cancel-button {
    font-weight: 600;
    border-style: none;
    height: 2.5rem;
    width: 48%;
}

.button-container #save-button {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.button-container #save-button:hover {
    background-color: var(--primary-color);
}

/* ===== Tag description search ===== */
.tag-description-search button {
    font-weight: 600;
    border-style: none;
    height: 2.5rem;
    width: 100%;
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.tag-description-search button:hover {
    background-color: var(--primary-color);
}

.tag-description-search input {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0;
    padding-top: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: none;
}

.tag-description-search textarea {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0;
    background-color: var(--primary-color);
    color: var(--text-color-muted);
    display: none;
}

.tag-description-search.show input,
.tag-description-search.show textarea {
    display: block;
}

.tag-description-search .caret-up-icon,
.tag-description-search.show .caret-down-icon {
    display: none;
}

.tag-description-search.show .caret-up-icon,
.tag-description-search .caret-down-icon {
    display: inline;
}

/* ===== Form ===== */
.form-container .edit-box {
    background-color: var(--primary-color);
}

.form-container .edit-box:has(> input:focus),
.form-container .edit-box:has(> textarea:focus) {
    color: var(--secondary-color);
    caret-color: var(--secondary-color);
    box-shadow: var(--box-shadow-focus);
    transition: var(--tran-02);
    transition-property: box-shadow;
}

.form-container .edit-box:has(> .ng-invalid.ng-touched) {
    border: 1px solid var(--invalid-border-color);
}

.form-container .edit-box:has(> .ng-invalid.ng-touched:focus) {
    caret-color: var(--invalid-border-color);
    box-shadow: var(--invalid-box-shadow-focus);
}

.form-container .edit-box label {
    color: var(--text-color);
    opacity: 0.5;
    font-size: 0.875rem;
    user-select: none;
}

.form-container .edit-box input {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0;
    padding-top: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.form-container .edit-box textarea {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* ===== Tag Edit Form ===== */
.form-container .tag-edit-buttons button {
    padding: 0.25rem 0.31rem 0 0.25rem;
}

.form-container #add-tag-button {
    font-weight: 600;
    border-style: none;
    height: 2.5rem;
    width: 9.5rem;
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.form-container #add-tag-button:hover {
    background-color: var(--primary-color);
}
