<form class="row g-3" [formGroup]="bookForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <section class="col-sm-4 col-lg-3 col-xxl-2 image-container">
        <img id="image" [src]="imagePreview"/>
        <div class="button-container">
            <button 
                type="submit" 
                class="btn btn-secondary mt-3" 
                id="save-button"
                [disabled]="!bookForm.valid">
                Save
            </button>
            <button 
                type="button" 
                class="btn btn-danger mt-3" 
                id="cancel-button"
                routerLink="../">
                Cancel
            </button>
        </div>
    </section>

    <section class="col-sm-8 col-lg-9 col-xxl-10 form-container">
        <div class="row">
            <div class="col-12">
                <div class="edit-box rounded mb-3 px-3">
                    <label class="pt-2">Name</label>
                    <input type="text" class="pb-2" formControlName="name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="edit-box rounded mb-3 px-3">
                    <label class="pt-2">Image URL</label>
                    <input type="text" class="pb-2" formControlName="imagePath" (focusout)="imagePreview = $event.srcElement.value">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="edit-box rounded mb-3 px-3">
                    <label class="pt-2">Link</label>
                    <input type="text" class="pb-2" formControlName="link">
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-sm-6 col-12">
                <div class="edit-box rounded mb-3 px-3">
                    <label class="pt-2">Rating (0-5)</label>
                    <input type="number" class="pb-2" formControlName="rating">
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="edit-box rounded mb-3 px-3">
                    <label class="pt-2">Collection</label>
                    <input type="text" class="pb-2" formControlName="collection" list="collection-list">
                    <datalist id="collection-list">
                        <option *ngFor="let collection of allCollections" [value]="collection.name"></option>
                    </datalist>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="edit-box rounded mb-3 px-3">
                    <label class="pt-2">Description</label>
                    <textarea type="text" rows="4" formControlName="description"></textarea>
                </div>
            </div>
        </div>
        <div formArrayName="tags">
            <div class="row gx-3 mb-1" *ngFor="let tagControl of tagControls; let i = index" [formGroupName]="i">
                <div class="col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="edit-box rounded px-3">
                        <input type="text" class="py-2" placeholder="Tag {{ i+1 }}" formControlName="name" list="tag-list">
                        <datalist id="tag-list">
                            <option *ngFor="let tag of allTags" [value]="tag.name"></option>
                        </datalist>
                    </div>
                </div>
                <div class="col-3 align-self-center">
                    <div class="tag-edit-buttons">
                        <button type="button" class="btn btn-danger delete-tag-button" (click)="onDeleteTag(i)">
                            <i class='bx bx-x fs-4'></i>
                        </button>
                        <button type="button" class="btn btn-secondary ms-1 insert-tag-button" (click)="onInsertTag(i)">
                            <i class='bx bx-chevron-up fs-4'></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-secondary" id="add-tag-button" (click)="onAddTag()">Add Tag</button>
                </div>
            </div>
        </div>
    </section>
</form>
