<header>
    <section class="container">
        <article class="row search-bar">
            <div class="col-md-12">
                <app-book-search></app-book-search>
            </div>
        </article>
    </section>
</header>

<section class="container mt-4">
    <article class="row">
        <div class="col-md-12 book-list">
            <app-book-item
                *ngFor="let book of books;"
                [book]="book">
            </app-book-item>
        </div>
    </article>
</section>

<footer id="button-section">
    <button class="overlay-button rounded">
        <i class='bx bx-down-arrow-alt fs-3'></i>
        <!-- <i class='bx bx-up-arrow-alt fs-3'></i> -->
    </button>
    <button class="overlay-button rounded mt-2">
        <i class='bx bx-list-ul fs-3'></i>
        <!-- <i class='bx bxs-grid fs-3 pt-1'></i> -->
    </button>
</footer>
