<header>
    <section class="container">
        <article class="row search-bar">
            <div class="col-md-12">
                <app-book-search (searchQuery)="onSearchQuery($event)"></app-book-search>
            </div>
        </article>
    </section>
</header>

<section class="container mt-4">
    <article class="row">
        <div class="col-md-12" [ngClass]="{ 
            'book-grid': displayType === displayEnum.Grid,
            'book-list': displayType === displayEnum.List }">
            <app-book-item
                *ngFor="let book of books | bookSearch:searchQuery:searchCount | slice:0:bookDisplayLimit;" 
                [book]="book" 
                [displayStyle]="displayType"
                style="display: flex;">
            </app-book-item>
        </div>
        <aside class="col-md-12" *ngIf="searchCount.value == 0">
            <p style="font-weight: 600;">There are no books to display</p>
            <p>Try again using other keywords or filters. You can also fetch saved data through the sidebar or add new books using the "+" button below.</p>
        </aside>
    </article>
</section>

<section *ngIf="searchCount.value > bookDisplayLimit" class="container mt-2">
    <article class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <button class="load-button rounded" (click)="loadMoreBooks()">Load More</button>
        </div>
    </article>
</section>

<footer id="button-section">
    <button class="overlay-button rounded mb-2" id="scroll-button">
        <i class='bx bx-down-arrow-alt fs-3'></i>
        <!-- <i class='bx bx-up-arrow-alt fs-3'></i> -->
    </button>
    <button class="overlay-button change-type-button rounded mb-2" (click)="changeDisplayType()">
        <i class='bx bx-list-ul fs-3' *ngIf="displayType === displayEnum.Grid"></i>
        <i class='bx bxs-grid fs-3' *ngIf="displayType === displayEnum.List"></i>
    </button>
    <button class="overlay-button rounded" [routerLink]="['o', 'new']" >
        <i class='bx bx-plus fs-3'></i>
    </button>
</footer>

<app-alert 
    [message]="this.searchCount.value == 0 ? 'No books found' : this.searchCount.value + ' books found'" 
    [toggle]="alertToggle" 
    [type]="this.searchCount.value == 0 ? 'warning' : 'info'">
</app-alert>
<router-outlet></router-outlet>
