header {
    width: 100%;
    background: var(--primary-color);
    transition: var(--tran-05);
}

/* ===== Button overlay ===== */
#button-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
}

#button-section .overlay-button {
    padding-top: 0.4rem;
    border: none;
    background: var(--sidebar-color);
    color: var(--text-color);
    transition: var(--tran-04);
}

#button-section .overlay-button:hover {
    background: var(--primary-color-light);
}

#button-section #scroll-button {
    display: none;
}

/* ===== Book list ===== */
section .book-list {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}

@media (max-width: 1199px) {
    section .book-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 991px) {
    section .book-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    section .book-list {
        grid-template-columns: repeat(2, 1fr);
    }

    #button-section #scroll-button {
        display: block;
    }
}

@media (max-width: 575px) {
    section .book-list {
        grid-template-columns: 1fr;
    }
}
