<section class="row mb-3">
    <article class="col-12 rounded p-3">
        <canvas id="tag-rating-chart" class="mb-3">{{ tagRatingChart }}</canvas>
        <form class="row g-3" autocomplete="off" onsubmit="event.preventDefault();">
            <fieldset class="col-sm-9 col-lg-10 col-xl-11">
                <div class="search-bar rounded">
                    <input 
                        type="text" 
                        class="rounded" 
                        (input)="isValidTag($event)" 
                        (keydown.enter)="onSubmit(); blurInput($event)" 
                        placeholder="Search for a tag here..." 
                        list="tag-list"
                    >
                    <datalist id="tag-list">
                        <option *ngFor="let tag of allTags" [value]="tag.name"></option>
                    </datalist>
                </div>
            </fieldset>
            <fieldset class="col-sm-3 col-lg-2 col-xl-1">
                <button type="button" class="btn btn-warning" [disabled]="!validQuery" (click)="onSubmit()">View</button>
            </fieldset>
        </form>
    </article>
</section>

<section class="row mb-3">
    <article class="col-12 rounded px-3 pt-3 pb-2">
        <h5>Total Tagged: <strong>{{ totalTagged }}</strong></h5>
        <h5>Average Rating: <strong>{{ averageRating }} </strong><span class='bx bxs-star'></span></h5>
        <h5>
            <span 
                id="tag-value-info" 
                class="bx bx-info-circle" 
                [appTooltip]="'Tag Value = average rating with tag - average rating without tag'"
            ></span> 
            Tag Value: <strong>{{ tagValue }} </strong>
            <span class='bx bxs-star'></span>
        </h5>
    </article>
</section>
