/* ===== Graph info ===== */
section {
    margin-left: 0px;
    margin-right: 0px;
}

article {
    background-color: var(--primary-color);
    transition: var(--tran-05);
    transition-property: background-color;
}

h5 strong,
h5 span {
    color: var(--secondary-color);
}

#tag-value-info {
    color: var(--secondary-button);
    transition: var(--tran-02);
    align-items: center;
}

#tag-value-info:hover {
    color: var(--secondary-button-hover);
    cursor: pointer;
}

/* ===== Graph search ===== */
form .search-bar {
    height: 2.5rem;
    background: var(--primary-color-lighter);
    transition: var(--tran-05);
}

form .search-bar input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    border: none;
    background: var(--primary-color-lighter);
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
}

form .search-bar:has(> input:focus) {
    color: var(--secondary-color);
    caret-color: var(--secondary-color);
    transition: var(--tran-03);
    box-shadow: var(--box-shadow-focus);
}

form button {
    width: 100%;
    height: 100%;
    background: var(--secondary-button);
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: 600;
    transition: var(--tran-05);
}

form button:hover {
    background: var(--secondary-button-hover);
    cursor: pointer;
}
