<!-- Sidebar (when viewport >= 768px) -->
<nav 
    [ngClass]="{'sidebar px-3 pt-3': true, 'close': close, 'dark-mode': darkMode}" 
    *ngIf="!isMobile" 
    (window:resize)="onScreenResize($event)">
    <header>
        <div class="logo fs-3">
            <i class='bx bxs-bookmarks me-3'></i>
            <marquee class="logo-name" behavior="scroll" direction="left" scrollamount="5">Book Manager</marquee>
        </div>
        <i class="bx bx-menu fs-3" id="toggle" (click)="close = !close"></i>
    </header>

    <hr>

    <div class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a class="rounded" routerLink="/books" routerLinkActive="active">
                    <i class='bx bxs-book fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Books</span>
                </a>
            </li>
            <li class="menu-item mt-3">
                <a class="rounded" routerLink="/collections" routerLinkActive="active">
                    <i class='bx bx-library fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Collections</span>
                </a>
            </li>
            <li class="menu-item mt-3">
                <a class="rounded" routerLink="/tags" routerLinkActive="active">
                    <i class='bx bxs-purchase-tag fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Tags</span>
                </a>
            </li>
            <li class="menu-item mt-3">
                <a class="rounded" routerLink="/stats" routerLinkActive="active">
                    <i class='bx bx-stats fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Statistics</span>
                </a>
            </li>
            <ul class="sub-menu mt-3 rounded">
                <li>
                    <a>
                        <i class='bx bxs-data fs-4 item-icon'></i>
                        <span class="fs-5 item-text">Data</span>
                        <i class="bx bx-chevron-down dropdown-icon item-text fs-3 me-2 ms-auto"></i>
                    </a>
                </li>
                <li class="sub-menu-item">
                    <a (click)="onSaveData()">
                        <i class='bx bxs-save item-icon'></i>
                        <span class="fs-6 item-text">Save Data</span>
                    </a>
                </li>
                <li class="sub-menu-item">
                    <a (click)="onFetchData()">
                        <i class='bx bxs-download item-icon'></i>
                        <span class="fs-6 item-text">Fetch Data</span>
                    </a>
                </li>
            </ul>
        </ul>

        <div class="menu-bottom">
            <hr>
            <li class="menu-item mt-3">
                <a class="rounded">
                    <i class='bx bx-log-out fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Logout</span>
                </a>
            </li>
            <li class="menu-item mode mt-3 rounded">
                <div class="moon-sun">
                    <i *ngIf="!darkMode" class='bx bx-moon fs-4 item-icon moon'></i>
                    <i *ngIf="darkMode" class='bx bx-sun fs-4 item-icon sun'></i>
                </div>
                <span class="fs-6 item-text">{{modeText}}</span>
                <div class="toggle-switch" (click)="toggleMode()">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<!-- Headerbar (when viewport < 768px) -->
<nav class="navbar navbar-expand-md" *ngIf="isMobile" (window:resize)="onScreenResize($event)">
    <section class="container-fluid">
        <header class="navbar-brand fs-4">
            <i class='bx bxs-bookmarks me-2'></i> Book Manager
        </header>

        <button class="navbar-toggler" type="button" (click)="close = !close">
            <span class="navbar-toggler-icon" [class.dark-mode]="darkMode"></span>
        </button>

        <article class="navbar-collapse" [class.collapse]="close">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books" routerLinkActive="active">
                        <i class='bx bxs-book me-1'></i> Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/collections" routerLinkActive="active">
                        <i class='bx bx-library me-1'></i> Collections
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tags" routerLinkActive="active">
                        <i class='bx bxs-purchase-tag me-1'></i> Tags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/stats" routerLinkActive="active">
                        <i class='bx bx-stats me-1'></i> Statistics
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [appDropdown]="dropdown1">
                        <i class='bx bxs-data me-1'></i> Data
                    </a>
                    <ul class="dropdown-menu" #dropdown1>
                        <li><a class="dropdown-item bg-transparent" (click)="onSaveData()">
                            <i class='bx bxs-save me-1'></i> Save Data
                        </a></li>
                        <li><a class="dropdown-item bg-transparent" (click)="onFetchData()">
                            <i class='bx bxs-download me-1'></i> Fetch Data
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item mb-1">
                    <a class="nav-link">
                        <i class='bx bx-log-out me-1'></i> Logout
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded mobile-mode" (click)="toggleMode()">
                        <i *ngIf="!darkMode" class='bx bx-moon me-1'></i>
                        <i *ngIf="darkMode" class='bx bx-sun me-1'></i> 
                        {{modeText}}
                    </a>
                </li>
            </ul>
        </article>
    </section>
</nav>

<!-- Other components -->
<app-alert 
    [message]="alertMessage" 
    [toggle]="alertToggle" 
    [type]="alertType"
    [zIndex]="22">
</app-alert>

<app-confirm 
    [title]="'No Books To Save'" 
    [message]="'Are you sure you want to save an empty list of books? This will overwrite currently saved data.'" 
    [confirmText]="'Save'"
    *ngIf="showConfirmSave"
    (cancel)="showConfirmSave = false"
    (confirm)="onSaveData()">
</app-confirm>
