/* ===== Sidebar general ===== */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--sidebar-color);
    width: 250px;
    z-index: 20;
    transition: var(--tran-05);
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .logo,
.sidebar.close .item-text {
    opacity: 0;
}

.sidebar.close #toggle {
    left: 50%;
}

.sidebar hr {
    color: var(--hr-color);
    transition: var(--tran-02);
}

/* ===== Sidebar header ===== */
.sidebar header .logo {
    color: var(--text-color);
    display: flex;
    height: 3rem;
    width: 82%;
    align-items: center;
    transition: var(--tran-02);
    white-space: nowrap;
}

header .logo .logo-name {
    font-weight: 600;
}

header #toggle {
    position: absolute;
    color: var(--text-color);
    left: 89%;
    top: 1.05rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    transform: translateX(-50%);
    transition: var(--tran-05);
}

header #toggle:hover {
    color: var(--primary-color-light);
    transition: var(--tran-04);
}

/* ===== Sidebar menu ===== */
.menu {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    height: 3rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li .item-text {
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
    overflow: hidden;
}

.menu-list a.active .item-text,
.menu-list a.active .item-icon {
    color: var(--secondary-color);
}

.menu li .item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.5rem;
    color: var(--text-color);
    transition: var(--tran-02);
}

.menu li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
}

.menu .menu-item a:hover {
    background: var(--primary-color-light);
}

@media (max-height: 750px) {
    .menu {
        height: 85%;
    }

    .menu li {
        height: 2.75rem;
    }
}

/* ===== Sidebar sub-menu ===== */
.menu .sub-menu {
    transition: var(--tran-04);
    user-select: none;
}

.menu .sub-menu:hover {
    background: var(--primary-color-light);
}

.menu .sub-menu:hover .dropdown-icon {
    transform: rotate(-180deg);
    transition: var(--tran-04);
}

.sub-menu .sub-menu-item {
    transition: var(--tran-04);
    cursor: pointer;
    display: none;
}

.menu .sub-menu:hover .sub-menu-item {
    display: block;
}

.sub-menu .sub-menu-item:hover .item-text,
.sub-menu .sub-menu-item:hover .item-icon {
    color: var(--secondary-color);
}

/* ===== Mode switch ===== */
.mode {
    position: relative;
    background: var(--primary-color-light);
}

.mode .moon-sun {
    min-width: 3.5rem;
    display: flex;
    align-items: center;
}

.mode i {
    position: absolute;
    transition: var(--tran-03);
}

.mode .toggle-switch {
    position: absolute;
    right: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 3.5rem;
    cursor: pointer;
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 1.4rem;
    width: 2.8rem;
    border-radius: 1.5rem;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    top: 50%;
    left: 0.15rem;
    transform: translateY(-50%);
    background: var(--primary-color-light);
    transition: var(--tran-03);
}

nav.dark-mode .switch::before {
    left: 1.55rem;
}

/* ===== Mobile sidebar ===== */
.navbar {
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

.navbar header {
    color: var(--text-color);
    transition: var(--tran-02);
    font-weight: 600;
}

.navbar .navbar-toggler {
    border-color: var(--hr-color);
    transition: var(--tran-02);
}

.navbar .navbar-toggler:focus {
    box-shadow: var(--box-shadow-focus);
}

.navbar .navbar-toggler .navbar-toggler-icon {
    filter: invert(32%) sepia(32%) saturate(316%) hue-rotate(181deg) brightness(92%) contrast(88%);
}

.navbar .navbar-toggler .navbar-toggler-icon.dark-mode {
    filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(211deg) brightness(102%) contrast(101%);
}

.navbar-nav .nav-link {
    color: var(--text-color);
    transition: var(--tran-02);
    font-weight: 600;
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.navbar-nav .dropdown-menu {
    background: var(--primary-color-light);
    border: none;
    transition: var(--tran-05);
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: var(--text-color);
    font-weight: 600;
    transition: var(--tran-02);
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--secondary-color);
}

.navbar-nav .mobile-mode {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}
