<nav [ngClass]="{'sidebar px-3 pt-3': true, 'close': close, 'dark-mode': darkMode}">
    <header>
        <div class="logo fs-3">
            <i class='bx bxs-bookmarks me-3'></i>
            <marquee class="logo-name" behavior="scroll" direction="left" scrollamount="5">Book Manager</marquee>
        </div>
        <i class="bx bx-menu fs-3" id="toggle" (click)="toggleSidebar()"></i>
    </header>

    <hr>

    <div class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="#" [ngClass]="{'rounded': true, 'active': currentActiveTab == 'Books'}" (click)="changeActiveTab('Books')">
                    <i class='bx bxs-book fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Books</span>
                </a>
            </li>
            <li class="menu-item mt-3">
                <a href="#" [ngClass]="{'rounded': true, 'active': currentActiveTab == 'Collections'}" (click)="changeActiveTab('Collections')">
                    <i class='bx bx-library fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Collections</span>
                </a>
            </li>
            <li class="menu-item mt-3">
                <a href="#" [ngClass]="{'rounded': true, 'active': currentActiveTab == 'Tags'}" (click)="changeActiveTab('Tags')">
                    <i class='bx bxs-purchase-tag fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Tags</span>
                </a>
            </li>
            <li class="menu-item mt-3">
                <a href="#" [ngClass]="{'rounded': true, 'active': currentActiveTab == 'Statistics'}" (click)="changeActiveTab('Statistics')">
                    <i class='bx bx-stats fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Statistics</span>
                </a>
            </li>
            <ul class="sub-menu mt-3 rounded">
                <li>
                    <a>
                        <i class='bx bxs-data fs-4 item-icon'></i>
                        <span class="fs-5 item-text">Data</span>
                        <i class="bx bx-chevron-down dropdown-icon item-text fs-3 me-2 ms-auto"></i>
                    </a>
                </li>
                <li class="sub-menu-item">
                    <a>
                        <i class='bx bxs-save item-icon'></i>
                        <span class="fs-6 item-text">Save Data</span>
                    </a>
                </li>
                <li class="sub-menu-item">
                    <a>
                        <i class='bx bxs-download item-icon'></i>
                        <span class="fs-6 item-text">Fetch Data</span>
                    </a>
                </li>
            </ul>
        </ul>

        <div class="menu-bottom">
            <hr>
            
            <li class="menu-item mt-3">
                <a href="#" class="rounded">
                    <i class='bx bx-log-out fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Logout</span>
                </a>
            </li>
            <li class="menu-item mode mt-3 rounded">
                <div class="moon-sun">
                    <i *ngIf="!darkMode" class='bx bx-moon fs-4 item-icon moon'></i>
                    <i *ngIf="darkMode" class='bx bx-sun fs-4 item-icon sun'></i>
                </div>
                <span class="fs-6 item-text">{{modeText}}</span>
                <div class="toggle-switch" (click)="toggleMode()">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
