<nav [ngClass]="{'sidebar px-3 pt-3': true, 'close': close, 'dark-mode': darkMode}">
    <header>
        <div class="logo fs-3">
            <i class='bx bxs-bookmarks me-3'></i>
            <marquee class="logo-name" behavior="scroll" direction="left" scrollamount="5">Book Manager</marquee>
        </div>
        <i class="bx bx-menu fs-3" id="toggle" (click)="toggleSidebar()"></i>
    </header>

    <div class="menu mt-3">
        <ul class="menu-list">
            <li class="menu-item mt-4">
                <a href="#" class="rounded">
                    <i class='bx bx-search fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Search</span>
                </a>
            </li>
            <li class="menu-item mt-4">
                <a href="#" class="rounded">
                    <i class='bx bxs-book fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Books</span>
                </a>
            </li>
            <li class="menu-item mt-4">
                <a href="#" class="rounded">
                    <i class='bx bxs-purchase-tag fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Tags</span>
                </a>
            </li>
            <li class="menu-item mt-4">
                <a href="#" class="rounded">
                    <i class='bx bx-stats fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Statistics</span>
                </a>
            </li>
        </ul>

        <div class="menu-bottom">
            <li class="menu-item mt-4">
                <a href="#" class="rounded">
                    <i class='bx bxs-data fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Data</span>
                </a>
            </li>
            <li class="menu-item mt-4">
                <a href="#" class="rounded">
                    <i class='bx bx-log-out fs-4 item-icon'></i>
                    <span class="fs-5 item-text">Logout</span>
                </a>
            </li>
            <li class="menu-item mode mt-4 rounded">
                <div class="moon-sun">
                    <i *ngIf="!darkMode" class='bx bx-moon fs-4 item-icon moon'></i>
                    <i *ngIf="darkMode" class='bx bx-sun fs-4 item-icon sun'></i>
                </div>
                <span class="fs-6 item-text">{{modeText}}</span>
                <div class="toggle-switch" (click)="toggleMode()">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
