<header>
    <section class="container">
        <article class="row search-bar">
            <div class="col-md-12">
                <app-tag-search (searchQuery)="onSearchQuery($event)"></app-tag-search>
            </div>
        </article>
    </section>
</header>

<app-confirm 
    [title]="'Delete Tag'" 
    [message]="confirmDeleteMessage" 
    [confirmText]="'Delete'"
    *ngIf="showConfirmDelete"
    (cancel)="showConfirmDelete = false"
    (confirm)="onDelete()">
</app-confirm>

<section class="container mt-4">
    <article class="row">
        <form autocomplete="off" (ngSubmit)="onUpdate()" #tagForm="ngForm">
            <div class="col-lg-6 col-md-8">
                <div class="edit-box rounded px-3">
                    <label class="pt-2">Name</label>
                    <input 
                        class="pb-2" 
                        placeholder="Select a tag below" 
                        name="name" 
                        [disabled]="!selectedTagName"
                        ngModel required>
                </div>
            </div>

            <div class="col-lg-6 col-md-8">
                <div class="edit-box rounded px-3 mt-3">
                    <label class="pt-2">Description</label>
                    <textarea 
                        class="pb-2" 
                        placeholder="No description available." 
                        rows="3" 
                        name="description" 
                        [disabled]="!selectedTagName"
                        ngModel>
                    </textarea>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="button-box">
                    <button 
                        class="btn btn-warning" 
                        type="submit" 
                        [disabled]="!tagForm.valid || !isValidTagName()"> 
                        Update
                    </button>
                    <button 
                        class="btn btn-danger" 
                        type="button" 
                        [disabled]="!tagForm.valid" 
                        (click)="showConfirmDelete = true">
                        Delete
                    </button>
                    <button class="btn" id="clear-button" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>

        <div class="col-12 mb-1">
            <div class="tag-box rounded mt-3 pt-2 pe-2">
                <button 
                    type="button" 
                    class="btn btn-secondary ms-2 mb-2" 
                    *ngFor="let tag of tags | tagSearch:searchQuery:searchCount;" 
                    (click)="onSelectTag(tag)"
                    [appTooltip]="tag.description">
                    {{ tag.name }}
                    <span class="badge bg-light text-muted">{{ tag.amount }}</span>
                </button>
                <aside class="ms-3 mt-2 me-2" *ngIf="searchCount.value == 0">
                    <p style="font-weight: 500;">There are no tags to display</p>
                    <p>Try another search. New tags can be added by linking them to new or existing books.</p>
                </aside>
            </div>
        </div>
    </article>
</section>

<app-alert
    [message]="this.searchCount.value == 0 ? 'No tags found' : this.searchCount.value + ' tags found'"
    [toggle]="alertToggle"
    [type]="this.searchCount.value == 0 ? 'warning' : 'success'">
</app-alert>
