header {
    width: 100%;
    background: var(--primary-color);
    transition: var(--tran-05);
}

/* ===== Tag edit section ===== */
section .edit-box {
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

section .edit-box label {
    color: var(--text-color);
    opacity: 0.5;
    font-size: 0.875rem;
    user-select: none;
    transition: var(--tran-02);
}

section .edit-box input {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: var(--tran-05);
}

section .edit-box textarea {
    width: 100%;
    outline: none;
    border: none;
    padding-left: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: var(--tran-05);
    transition-property: background-color, color;
}

/* ===== Tag button section ===== */
section .button-box {
    display: flex;
    justify-content: space-between;
}

section .button-box button {
    font-weight: 500;
    border-style: none;
    height: 2.5rem;
    width: 31%;
    margin-top: 1rem;
}

section .button-box #clear-button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

section .button-box #clear-button:hover {
    background-color: var(--primary-color-light);
}

/* ===== Tag display ===== */
section .tag-box {
    background-color: var(--primary-color);
    transition: var(--tran-05);
    transition-property: background-color;
    min-height: 59vh;
}

@media (max-width: 767px) {
    section .tag-box {
        min-height: 39vh;
    }
}
