:root {
    --body-color: #f7f8fa;
    --sidebar-color: #e7ebf1;
    --primary-color: #dee3ea;
    --primary-color-light: #f0f2f4;
    --text-color: #4d5669;
    --toggle-color: #4d5669;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.dark-mode {
    --body-color: #2f3031;
    --sidebar-color: #141417;
    --primary-color: #232425;
    --primary-color-light: #262629;
    --text-color: #ffffff;
    --toggle-color: #ffffff;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: var(--tran-05);
}

::-webkit-scrollbar {
    width: 15px;
}
    
::-webkit-scrollbar-track {
    background: var(--body-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-light);
}
