<div class="row g-3">
    <section class="col-sm-4 col-lg-3 col-xxl-2 image-container">
        <img src="https://cdn.imgchest.com/files/pyvdco3ed9y.png" alt="Placeholder image"/>
        <div class="button-container">
            <button class="btn btn-secondary mt-3" id="edit-button">Edit</button>
            <button class="btn btn-danger mt-3" id="delete-button">Delete</button>
        </div>
    </section>

    <section class="col-sm-8 col-lg-9 col-xxl-10 detail-container">
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded px-3">
                    <label class="pt-2">Name</label>
                    <p class="pb-2">Placeholder Name</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Link</label>
                    <p class="pb-2">Placeholder Link</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Description</label>
                    <p class="pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-lg-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Rating</label>
                    <p class="pb-2">Placeholder (Format later)</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Collection</label>
                    <p class="pb-2">Placeholder Collection</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Tags</label>
                    <p class="pb-2">Placeholder (Format later)</p>
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-sm-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Creation Date</label>
                    <p class="pb-2">2022-02-22</p>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Last Updated</label>
                    <p class="pb-2">2023-03-23</p>
                </div>
            </div>
        </div>
    </section>
</div>
