<div class="row g-3">
    <section class="col-sm-4 col-lg-3 col-xxl-2 image-container">
        <img 
            [src]="book.imagePath ? book.imagePath : 'assets/images/book-placeholder.png'" 
            alt="illustration of {{ book.name }}"
        />
        <div class="button-container">
            <button class="btn btn-secondary mt-3" id="edit-button">Edit</button>
            <button class="btn btn-danger mt-3" id="delete-button">Delete</button>
        </div>
    </section>

    <section class="col-sm-8 col-lg-9 col-xxl-10 detail-container">
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded px-3">
                    <label class="pt-2">Name</label>
                    <p class="pb-2">{{ book.name }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Link</label>
                    <p class="pb-2">{{ book.link }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Description</label>
                    <p class="pb-2">{{ book.description }}</p>
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-lg-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Rating</label>
                    <div>
                        <i class='bx bxs-star pb-2 mb-1' *ngFor="let star of stars" [ngClass]="{'checked': book.rating >= star}"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Collection</label>
                    <p class="pb-2">{{ book.collection ? book.collection : 'None' }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Tags</label>
                    <p class="pb-2">Placeholder (Format later)</p>
                </div>
            </div>
        </div>
        <div class="row gx-3">
            <div class="col-sm-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Creation Date</label>
                    <p class="pb-2">{{ book.dateCreated | date }}</p>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="data-box rounded mt-3 px-3">
                    <label class="pt-2">Last Updated</label>
                    <p class="pb-2">{{ book.dateUpdated | date }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
