/* ===== Book container ===== */
.book-container {
    cursor: pointer;
    text-decoration: none;
}

.book-container.grid-style {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.book-container.list-style {
    background: var(--primary-color);
    transition: var(--tran-04);
    transition-property: background;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.375rem;
}

/* ===== Book image ===== */
div .book-image.grid-style {
    overflow: hidden;
    aspect-ratio: 128/181;
}

div .book-image.grid-style img {
    width: 100%;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

div .book-image.list-style img {
    max-height: 200px;
    border-radius: 0.375rem;
}

/* ===== Book details ===== */
div .book-details {
    color: var(--text-color);
    transition: var(--tran-04);
    transition-property: background, color;
}

div .book-details.grid-style {
    background: var(--primary-color);
    padding: 1rem;
    flex-grow: 1;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

div .book-details p {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

div:hover .book-details p {
    color: var(--secondary-color);
    transition: var(--tran-02);
}

div .book-details.list-style p {
    font-size: 1.4rem;
}

i.checked {
    color: orange;
}
