<div 
    [routerLink]="['o', book.id]" 
    class="book-container" 
    [ngClass]="{ 
        'grid-style': displayStyle === displayEnum.Grid, 
        'list-style list-group-item list-group-item-action': displayStyle === displayEnum.List }">
    <div 
        class="book-image" 
        [ngClass]="{ 
            'grid-style': displayStyle === displayEnum.Grid, 
            'list-style float-end': displayStyle === displayEnum.List }"
        #imageContainer>
        <img loading="lazy" [src]="book.imagePath" alt="illustration of {{book.name}}" (load)="onImageLoad($event)">
        <aside 
            *ngIf="displayStyle === displayEnum.Grid && book.collection != 'None'" 
            class="bookmark" 
            [ngStyle]="{'background-color': bookmarkColor}">
        </aside>
    </div>

    <section 
        class="book-details" 
        [ngClass]="{
            'grid-style': displayStyle === displayEnum.Grid,
            'list-style': displayStyle === displayEnum.List }"
        #detailsContainer>
        <p>{{book.name}}</p>

        <i class='bx bxs-star' *ngFor="let star of stars" [ngClass]="{'checked':book.rating >= star}"></i>

        <div class="mt-3" *ngIf="displayStyle === displayEnum.List">
            <button 
                type="button" 
                class="btn btn-secondary me-2 mb-2 book-tag" 
                *ngFor="let tag of book.tags"
                [appTooltip]="getTagDescription(tag)">
                {{ tag }} 
                <span class="badge bg-light text-muted">{{ getTagAmount(tag) }}</span>
            </button>
        </div>
    </section>
</div>
