<form class="row g-3" autocomplete="off" onsubmit="event.preventDefault();">
    <fieldset class="col-md-6">
        <div class="search-bar rounded">
            <i class='bx bx-search fs-5 search-icon pt-1 ps-2 pe-1' (click)="onSubmitSearch()"></i>
            <input class="rounded" placeholder="Search" (keydown.enter)="onSubmitSearch()" #searchString>
        </div>
    </fieldset>

    <fieldset class="col-md-2">
        <select class="form-select search-select" #searchType>
            <option selected value="0">Name</option>
            <option value="1">Tag</option>
            <option value="2">Collection</option>
        </select>
    </fieldset>

    <fieldset class="col-md-2">
        <select class="form-select search-select" #searchSort>
            <option selected value="0">Date Added</option>
            <option value="1">Date Updated</option>
            <option value="2">Alphabetical</option>
            <option value="3">Rating</option>
        </select>
    </fieldset>

    <fieldset class="col-md-2">
        <select class="form-select search-select" #searchOrder>
            <option selected value="0">Descending</option>
            <option value="1">Ascending</option>
        </select>
    </fieldset>
</form>
